.cabecalho__menu-hamburguer {
  width: 24px;
  height: 24px;
  background-image: url(../imagens/Menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}
.cabecalho {
  background-color: var(--branco);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.container {
  display: flex;
  align-items: center;
}
.container__imagem {
  padding: 0.7em;
}
.lista-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;
}
.container__botao:checked ~ .lista-menu {
  display: block;
}
.container__botao {
  display: none;
}
.lista-menu__titulo,
.lista-menu__item {
  padding: 1em;
  background-color: var(--branco);
}
.lista-menu__titulo {
  color: var(--yellow);
  font-family: var(--fonte-principal);
  font-weight: 700;
}
.lista-menu__link {
  text-decoration: none;
  font-family: var(--fonte-principal);
  font-weight: 500;
  color: var(--azul);
}
