.cabecalho__menu-hamburguer {
  width: 24px;
  height: 24px;
  background-image: url(../imagens/Menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}
.cabecalho {
  background-color: var(--branco);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.container {
  display: flex;
  align-items: center;
}
.container__imagem {
  padding: 0.7em;
}
.lista-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;
}
.container__botao:checked ~ .lista-menu {
  display: block;
}
.container__botao {
  display: none;
}
.lista-menu__titulo,
.lista-menu__item {
  padding: 1em;
  background-color: var(--branco);
}
.lista-menu__titulo {
  color: var(--yellow);
  font-family: var(--fonte-principal);
  font-weight: 700;
}
.lista-menu__link {
  text-decoration: none;
  font-family: var(--fonte-principal);
  font-weight: 500;
  color: var(--azul);
}
.container__titulo {
  display: none;
}
.opcoes {
  display: none;
}
.container__texto {
  display: none;
}

/* responsivo para tablet */
@media screen and (min-width: 1024px) {
  .container__titulo {
    /* necessario colocar display:block para aparecer novamente no media */
    display: block;
  }
  .container__titulo,
  .container__titulo--negrito {
    font-family: var(--fonte-sencundaria);
    font-size: 30px;
    font-weight: 400;
    color: var(--preta);
  }
  .container__titulo--negrito {
    font-weight: 700;
  }
  .opcoes {
    display: flex;
  }
  .opcoes__item {
    font-family: var(--fonte-principal);
    color: var(--preta);
    padding: 0 1em;
  }
  .opcoes__link {
    text-decoration: none;
    font-family: var(--fonte-principal);
    color: var(--preta);
  }
  .container__imagem-transparente {
    display: none;
  }
  .cabecalho__menu-hamburguer {
    display: none;
  }
  .opcao__botao:checked ~ .lista-menu {
    display: block;
    width: auto;
  }
  .opcao__botao {
    display: none;
  }
}

@media screen and (min-width: 1728px) {
  .container__texto {
    display: block;
  }
  .cabecalho {
    padding: 0 2em;
  }
  .opcoes {
    margin-right: auto;
  }
  .container__link,
  .container__imagem {
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  .container__texto {
    font-family: var(--fonte-principal);
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--preta);
  }
  .cabecalho__menu-hamburguer {
    display: none;
  }
}
